@{ ViewData["Title"] = "Purchased";
    List<Products> allProducts = (List<Products>)ViewData["allProducts"];
    List<OrderDetails> orderdetails = (List<OrderDetails>)ViewData["orderdetails"];
    List<Products> priceDesc = (List<Products>)ViewData["priceDesc"];
    string searchStr = (string)ViewData["searchStr"];
}

@{
    <form action="/Search/" method="POST" style="padding:20px">
        <b>Search Products:</b> <input name="searchStr" value="@searchStr" style="width:75%" />
    </form>
}

<div class="container">
    <div class="row mx-auto">
        @foreach (OrderDetails od in orderdetails)
        {
            foreach (Products products in allProducts)
            {
                if (od.ProductId == products.Id) //can't test this code cause cannot add to cart - XJ
                {
                    <div class="card m-10 p-10" style="width: 18rem; margin: 0.5rem;">
                        <img class="card-img-top mx-auto" style="width: 150px;height: 150px; margin: 1rem" src="/img/@products.IconURL" alt="Product Image TBF">

                        <div class="card-body">
                            <h5 class="card-title text-center">@products.ProductName</h5>
                            <p class="card-text text-center" style="font-weight:bold">$@products.UnitPrice</p>
                            <p class="card-text text-center" id="@products.ProductId"></p>
                        </div>
                        <div class="card-text text-center">
                            <a class="btn btn-primary" style="color:white; background-color:royalblue; border-color:royalblue;">Purchased</a>
                            <a class="btn btn-primary" style="color: white; background-color:dimgrey; border-color:dimgrey; margin: 1rem;">@od.SerialCode</a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
